@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{ 
    ViewData["Title"] = ("Edit");
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form ></form>
    </div>
</div>